 .u-section-1 {
  background-image: none;
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 79px auto 0 calc(((100% - 1140px) / 2) + 515px);
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 538px);
}

.u-section-1 .u-shape-1 {
  height: 302px;
  margin-top: 61px;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -324px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 346px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 148px;
  width: 148px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 45px auto 0;
  padding: 15px;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 32px 30px 0;
}

.u-section-1 .u-icon-3 {
  height: 148px;
  width: 148px;
  background-image: none;
  margin: 45px auto 0;
  padding: 15px;
}

.u-section-1 .u-video-3 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 32px 30px 0;
}

.u-section-1 .u-icon-4 {
  height: 148px;
  width: 148px;
  background-image: none;
  margin: 45px auto 0;
  padding: 15px;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 425px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + 444px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: 131px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -394px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 285px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 326px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 340px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: 501px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -764px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 655px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1258px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 245px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + 255px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: 729px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -992px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 154px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + 161px);
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}