 .u-section-1 {
  background-image: url("images/856c76fb2ef52148c21b37e9fcbf2a829b2e4a360f8ee23f4784f6d5794a8febee42bf4c9b841992c6a1f6f13deae1962f11b4665a5889f9e16804_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 142px 84px 0 98px;
}

.u-section-1 .u-countdown-1 {
  margin: 42px auto 60px;
}

.u-section-1 .u-countdown-item-1 {
  padding: 6px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-item-2 {
  padding: 6px;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-item-3 {
  padding: 6px;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-item-4 {
  padding: 6px;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-item-5 {
  padding: 6px;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-item-6 {
  padding: 6px;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-countdown-counter-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 3.75rem;
  }
}